**.git
**.gitignore
**.gitattributes

/.idea
/.vagrant
/.vscode
.env

backup
cloud_formation
src/cypress
scripts

Dockerfile
docker-compose.yaml
values*.yaml

src/bootstrap/cache/services.php

src/node_modules/*

src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/logs/*
