services:
    nginx:
        build:
            context: .
            dockerfile: ./docker/nginx/Dockerfile
        restart: unless-stopped
        volumes:
            # Mount the 'laravel-storage-production' volume to '/var/www/storage' inside the container.
            # -----------------------------------------------------------
            # This volume stores persistent data like uploaded files and cache.
            # The ':ro' option mounts it as read-only in the 'web' service because Nginx only needs to read these files.
            # The 'php-fpm' service mounts the same volume without ':ro' to allow write operations.
            # -----------------------------------------------------------
            - laravel-storage-production:/var/www/storage:ro
            - laravel-public-assets:/var/www/public/build:ro
        networks:
            - dokploy-network
        expose:
            - '${NGINX_PORT:-80}'
        depends_on:
            php-fpm:
                condition: service_healthy

    php-fpm:
        build:
            context: .
            dockerfile: ./docker/php-fpm/Dockerfile
            target: production
        restart: unless-stopped
        volumes:
            # - laravel-public-assets:/var/www/public/build
            - laravel-storage-production:/var/www/storage
        environment:
            - APP_ENV=${APP_ENV:-production}
            # - APP_URL=${APP_URL}
            - APP_DEBUG=${APP_DEBUG}
            - APP_KEY=${APP_KEY}
            - LOG_CHANNEL=stack
            - LOG_STACK_CHANNELS=daily,stderr
            - DB_CONNECTION=${DB_CONNECTION}
            - DB_HOST=${DB_HOST}
            - DB_DATABASE=${DB_DATABASE}
            - DB_USERNAME=${DB_USERNAME}
            - DB_PASSWORD=${DB_PASSWORD}
            - MAIL_MAILER=${MAIL_MAILER:-smtp}
            - MAIL_HOST=${MAIL_HOST}
            - MAIL_PORT=${MAIL_PORT:-587}
            - MAIL_USERNAME=${MAIL_USERNAME}
            - MAIL_PASSWORD=${MAIL_PASSWORD}
            - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
            - MAIL_FROM_NAME="${APP_NAME}"
        networks:
            - dokploy-network
        healthcheck:
            test: ['CMD-SHELL', 'php-fpm-healthcheck || exit 1']
            interval: 10s
            timeout: 5s
            retries: 3

    # queue:
    #     build:
    #         context: .
    #         dockerfile: ./docker/php-fpm/Dockerfile
    #         target: production
    #     command: php artisan queue:work --tries=3
    #     depends_on:
    #         - php-fpm
    # networks:
    #     - prod

networks:
    dokploy-network:
        external: true

volumes:
    laravel-storage-production:
    laravel-public-assets:
