services:
    nginx:
        build:
            context: .
            dockerfile: ./docker/production/nginx/Dockerfile
        restart: unless-stopped # Automatically restart unless the service is explicitly stopped
        volumes:
            # Mount the 'laravel-storage-production' volume to '/var/www/storage' inside the container.
            # -----------------------------------------------------------
            # This volume stores persistent data like uploaded files and cache.
            # The ':ro' option mounts it as read-only in the 'web' service because Nginx only needs to read these files.
            # The 'php-fpm' service mounts the same volume without ':ro' to allow write operations.
            # -----------------------------------------------------------
            - laravel-storage-production:/var/www/storage:ro
            - laravel-public-assets:/var/www/public/build:ro
        networks:
            - dokploy-network
        expose:
            - '${NGINX_PORT:-80}:80'
        depends_on:
            php-fpm:
                condition: service_healthy # Wait for php-fpm health check

    php-fpm:
        # For the php-fpm service, we will create a custom image to install the necessary PHP extensions and setup proper permissions.
        build:
            context: .
            dockerfile: ./docker/Dockerfile
            target: production
        restart: unless-stopped
        volumes:
            - laravel-public-assets:/var/www/public/build # Mount built public assets to ensure the manifest.json and hashed files match between Nginx and PHP-FPM
            - laravel-storage-production:/var/www/storage # Mount the storage volume
        env_file:
            - .env
        networks:
            - dokploy-network
        healthcheck:
            test: ['CMD-SHELL', 'php-fpm-healthcheck || exit 1']
            interval: 10s
            timeout: 5s
            retries: 3

networks:
    # Attach the service to the 'laravel' network.
    # -----------------------------------------------------------
    # This custom network allows all services within it to communicate using their service names as hostnames.
    # For example, 'php-fpm' can connect to 'postgres' by using 'postgres' as the hostname.
    # -----------------------------------------------------------
    dokploy-network:
        external: true

volumes:
    laravel-storage-production:
    laravel-public-assets:
