version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        environment:
            APP_ENV: production
            APP_URL: ${APP_URL}
            APP_DEBUG: ${APP_DEBUG}
            APP_KEY: ${APP_KEY}
            LOG_CHANNEL: stack
            LOG_STACK_CHANNELS: daily,stderr
            DB_CONNECTION: ${DB_CONNECTION}
            DB_HOST: ${DB_HOST}
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
        networks:
            - dokploy-network
        expose:
            - 9000
        volumes:
            - app:/var/www/html #

    nginx:
        image: nginx:alpine
        expose:
            - 80
        volumes:
            - app:/var/www/html:ro
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - app
        networks:
            - dokploy-network

    # scheduler:
    #   build:
    #     context: .
    #   command: >
    #     sh -c "while true; do php artisan schedule:run --verbose --no-interaction; sleep 60; done"
    #   depends_on:
    #     - app

    # queue:
    #   build:
    #     context: .
    #   command: php artisan queue:work --tries=3
    #   depends_on:
    #     - app
    #   networks:
    #     - prod

networks:
    dokploy-network:
        external: true

volumes:
    app:
