version: '3.8'

services:
    app:
        user: '1000:1000'
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - ./:/var/www/html:rw
        environment:
            APP_ENV: production
            APP_URL: ${APP_URL}
            APP_DEBUG: ${APP_DEBUG}
            APP_KEY: ${APP_KEY}
            DB_HOST: ${DB_HOST}
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
        networks:
            - dokploy-network
        expose:
            - 9000

    nginx:
        image: nginx:alpine
        expose:
            - 80
        volumes:
            - ./:/var/www/html:ro
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - dokploy-network

    # scheduler:
    #   build:
    #     context: .
    #   command: >
    #     sh -c "while true; do php artisan schedule:run --verbose --no-interaction; sleep 60; done"
    #   volumes:
    #     - .:/var/www/html
    #   depends_on:
    #     - laravel
    #     - db

networks:
    dokploy-network:
        external: true
